//! WebSocket event envelope published on `/api/events`.
//!
//! `Event` is also used as a broadcast bus message in `supervise/`,
//! `allocator/`, and `config/`, so it lives in the internal module rather
//! than under a single endpoint.

use std::collections::BTreeMap;

use serde::{Deserialize, Serialize};
use smol_str::SmolStr;
use utoipa::ToSchema;

/// One event delivered over `/api/events`. The `type` tag discriminates the
/// variant; `at_ms` is present on every variant except `overflow`. The same
/// `Event` is used as a broadcast bus message internally, so it must stay
/// serializable and stable — anything published here is part of the wire
/// contract the frontend and other clients read.
#[derive(Debug, Clone, Serialize, Deserialize, PartialEq, ToSchema)]
#[serde(tag = "type", rename_all = "snake_case")]
pub enum Event {
    /// A service's state machine moved to a new state.
    StateChanged {
        /// The service that changed state.
        #[schema(value_type = String)]
        service: SmolStr,
        /// The state it left, e.g. `"starting"` or `"running"`.
        from: String,
        /// The state it entered.
        to: String,
        /// When the transition happened, in unix milliseconds.
        at_ms: i64,
    },
    /// A service's reservation table changed (a pledge was added, moved, or
    /// released on one or more devices).
    AllocationChanged {
        /// The service whose allocation changed.
        #[schema(value_type = String)]
        service: SmolStr,
        /// The per-device reserved byte counts after the change. Keys are
        /// device ids (`"cpu"` or `"gpu:N"`).
        reservations: BTreeMap<String, u64>,
        /// When the allocation changed, in unix milliseconds.
        at_ms: i64,
    },
    /// The config was reloaded or replaced, and a set of services changed.
    ConfigReloaded {
        /// When the reload happened, in unix milliseconds.
        at_ms: i64,
        /// The services whose effective config changed as a result.
        #[schema(value_type = Vec<String>)]
        changed_services: Vec<SmolStr>,
    },
    /// One of a service's rolling estimator corrections moved by more than 5%.
    /// `class` is the memory pool it belongs to — `"vram"` or `"host"` — since
    /// the two are learned independently from separate observations.
    EstimatorDrift {
        /// The service whose correction drifted.
        #[schema(value_type = String)]
        service: SmolStr,
        /// The memory pool: `"vram"` or `"host"`.
        class: String,
        /// The new rolling-mean correction factor.
        rolling_mean: f32,
        /// When the drift was recorded, in unix milliseconds.
        at_ms: i64,
    },
    /// A `Running` service was drained and respawned by its auto-restart
    /// policy. `trigger` is `"error_rate"`, `"periodic"`, `"ttft_stall"`,
    /// `"generation_stall"`, or `"spec_collapse"`; `detail` is a
    /// human-readable reason (e.g. the observed error rate and window).
    AutoRestarted {
        /// The service that was restarted.
        #[schema(value_type = String)]
        service: SmolStr,
        /// The auto-restart trigger that fired.
        trigger: String,
        /// A human-readable reason for the restart.
        detail: String,
        /// When the restart was recorded, in unix milliseconds.
        at_ms: i64,
    },
    /// The event bus dropped events because a subscriber fell behind. The
    /// event carries no `at_ms` — it is generated by the bus itself.
    Overflow {
        /// How many events were dropped for the slow subscriber.
        dropped: u64,
    },
}
